<div
  style="
    background-image: url(https://www.w2ssolutions.com/blog/wp-content/uploads/2020/01/node-js.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 20px;
    font-family: Arial, sans-serif;

    display: flex;
    align-items: center;
  "
>
  <div
    style="
      max-width: 600px;
      margin: 0 auto;
      background-color: #ffffff;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    "
  >
    <h2 style="color: #333333; text-align: center">Bem-vindo!</h2>
    <p style="color: #666666; text-align: center">
      Obrigado por se registrar. Estamos felizes em tê-lo conosco.<br />
      Por favor, confirme seu cadastro clicando no botão abaixo
    </p>
    <p style="color: #666666; text-align: center"></p>
    <div style="text-align: center; margin: 30px">
      <a
        href="<%= url %>"
        style="
          background-color: #3a76d3;
          color: #ffffff;
          padding: 15px 25px;
          text-decoration: none;
          border-radius: 5px;
          font-size: 16px;
        "
        >Confirmar Cadastro</a
      >
    </div>
    <p style="color: #666666; text-align: center">
      Se você não solicitou este email, por favor, ignore-o.
    </p>
    <p style="color: #666666; text-align: center">
      Atenciosamente,<br /><b>Braião of Two API's</b>
    </p>
  </div>
</div>
